spring:
  datasource:
    url: jdbc:postgresql://prod-host:5432/erp_prod
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

logging:
  level:
    com.sumeet.erp: INFO